:root {
    --postion: 50px;
}
body {
    background-color: lightgrey;
}
img {
    border-radius: 100%;width: 100px; height: 100px; padding: 2px; border: blueviolet 2px solid;position: relative; bottom: 50px;
}
h1 {
    position: relative;
    bottom: var(--postion);
}
h5 {
    position: relative;
    bottom: 60px;
    color: gray;
}
h6 {
    position: relative;
    bottom: 60px;
}
main {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    margin-left: 55vh;;
    margin-right: 55vh;
    margin-top: 100px;
    margin-bottom: 100px;
    align-content: center;
    text-align: center;
    position: relative;
}
